intranet-rebuild/n8n-workflows/workflow_a_user_sync.json
{
  "name": "SAGE CSV Import - Mitarbeiter-Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 1 * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Monatlicher Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "node-manual",
      "name": "Manueller Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "filePath": "/data/sage-exports/aktuell.csv"
      },
      "id": "node-read-current",
      "name": "Aktuelle CSV lesen",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "operation": "csvToJson",
        "options": { "delimiter": ";" }
      },
      "id": "node-parse-current",
      "name": "Aktuelle CSV parsen",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [450, 0]
    },
    {
      "parameters": {
        "filePath": "/data/sage-exports/vormonat.csv"
      },
      "id": "node-read-previous",
      "name": "Vormonats-CSV lesen",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "operation": "csvToJson",
        "options": { "delimiter": ";" }
      },
      "id": "node-parse-previous",
      "name": "Vormonats-CSV parsen",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "node-merge",
      "name": "CSVs zusammenfuehren",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [850, 100]
    },
    {
      "parameters": {
        "jsCode": "const currentItems = $input.all().filter(i => i.json._source === 'current').map(i => i.json);\nconst previousItems = $input.all().filter(i => i.json._source === 'previous').map(i => i.json);\nconst KEY = 'Personalnummer';\nconst FIELDS = ['Vorname','Nachname','Email','Telefon','Mobil','Position','Standort','Abteilung'];\nconst prevMap = new Map();\npreviousItems.forEach(r => prevMap.set(String(r[KEY]||'').trim(), r));\nconst currMap = new Map();\ncurrentItems.forEach(r => currMap.set(String(r[KEY]||'').trim(), r));\nconst neue = [], geaenderte = [], deaktivierte = [];\nfor (const [pnr, curr] of currMap) {\n  if (!pnr) continue;\n  const prev = prevMap.get(pnr);\n  if (!prev) {\n    const pw = require('crypto').randomBytes(18).toString('base64url').slice(0,24);\n    neue.push({...curr, _passwort: pw});\n  } else {\n    const changes = {};\n    for (const f of FIELDS) {\n      if (String(curr[f]||'').trim() !== String(prev[f]||'').trim()) changes[f] = {alt: prev[f], neu: curr[f]};\n    }\n    if (Object.keys(changes).length > 0) geaenderte.push({...curr, _aenderungen: changes});\n  }\n}\nfor (const [pnr, prev] of prevMap) {\n  if (pnr && !currMap.has(pnr)) deaktivierte.push(prev);\n}\nreturn [{json:{neue_mitarbeiter:neue,geaenderte_mitarbeiter:geaenderte,deaktivierte_mitarbeiter:deaktivierte,zusammenfassung:{gesamt_vorher:previousItems.length,gesamt_nachher:currentItems.length,neue:neue.length,geaenderte:geaenderte.length,deaktivierte:deaktivierte.length,zeitstempel:new Date().toISOString()}}}];"
      },
      "id": "node-diff",
      "name": "CSV Diff berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-new", "leftValue": "={{ $json.zusammenfassung.neue }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }]
        }
      },
      "id": "node-if-new",
      "name": "Neue vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, -50]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.neue_mitarbeiter || [];\nreturn items.map(emp => ({json: emp}));"
      },
      "id": "node-split-new",
      "name": "Neue aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_URL }}/wp-json/gwt/v1/employee/import",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"personalnummer\":\"{{ $json.Personalnummer }}\",\"vorname\":\"{{ $json.Vorname }}\",\"nachname\":\"{{ $json.Nachname }}\",\"email\":\"{{ $json.Email }}\",\"telefon\":\"{{ $json.Telefon || '' }}\",\"mobil\":\"{{ $json.Mobil || '' }}\",\"position\":\"{{ $json.Position }}\",\"standort\":\"{{ $json.Standort }}\",\"abteilung\":\"{{ $json.Abteilung }}\",\"eintrittsdatum\":\"{{ $json.Eintrittsdatum }}\",\"status\":\"aktiv\",\"passwort\":\"{{ $json._passwort }}\"}"
      },
      "id": "node-create-wp",
      "name": "WP: Anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, -100],
      "credentials": { "httpHeaderAuth": { "id": "wp_api_credentials", "name": "WordPress API" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "cond-changed", "leftValue": "={{ $json.zusammenfassung.geaenderte }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }]
        }
      },
      "id": "node-if-changed",
      "name": "Geaenderte vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.geaenderte_mitarbeiter || [];\nreturn items.map(emp => ({json: emp}));"
      },
      "id": "node-split-changed",
      "name": "Geaenderte aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_URL }}/wp-json/gwt/v1/employee/import",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"personalnummer\":\"{{ $json.Personalnummer }}\",\"vorname\":\"{{ $json.Vorname }}\",\"nachname\":\"{{ $json.Nachname }}\",\"email\":\"{{ $json.Email }}\",\"telefon\":\"{{ $json.Telefon || '' }}\",\"mobil\":\"{{ $json.Mobil || '' }}\",\"position\":\"{{ $json.Position }}\",\"standort\":\"{{ $json.Standort }}\",\"abteilung\":\"{{ $json.Abteilung }}\",\"eintrittsdatum\":\"{{ $json.Eintrittsdatum }}\",\"status\":\"{{ $json.Status }}\"}"
      },
      "id": "node-update-wp",
      "name": "WP: Aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 200],
      "credentials": { "httpHeaderAuth": { "id": "wp_api_credentials", "name": "WordPress API" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "cond-deact", "leftValue": "={{ $json.zusammenfassung.deaktivierte }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }]
        }
      },
      "id": "node-if-deactivated",
      "name": "Deaktivierte vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 450]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.deaktivierte_mitarbeiter || [];\nreturn items.map(emp => ({json: emp}));"
      },
      "id": "node-split-deactivated",
      "name": "Deaktivierte aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_URL }}/wp-json/gwt/v1/employee/deactivate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"personalnummer\":\"{{ $json.Personalnummer }}\"}"
      },
      "id": "node-deactivate-wp",
      "name": "WP: Deaktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 450],
      "credentials": { "httpHeaderAuth": { "id": "wp_api_credentials", "name": "WordPress API" } }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ADMIN_EMAIL }}",
        "toEmail": "={{ $env.ADMIN_EMAIL }}",
        "subject": "[GWT Intranet] CSV-Import Zusammenfassung",
        "text": "=CSV-Import abgeschlossen:\n\nNeue: {{ $json.zusammenfassung.neue }}\nGeaenderte: {{ $json.zusammenfassung.geaenderte }}\nDeaktivierte: {{ $json.zusammenfassung.deaktivierte }}\n\nZeitpunkt: {{ $json.zusammenfassung.zeitstempel }}"
      },
      "id": "node-summary",
      "name": "Zusammenfassung senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1300, 650],
      "credentials": { "smtp": { "id": "smtp_credentials", "name": "SMTP" } }
    }
  ],
  "connections": {
    "Monatlicher Trigger": { "main": [[{"node": "Aktuelle CSV lesen", "type": "main", "index": 0}]] },
    "Manueller Trigger": { "main": [[{"node": "Aktuelle CSV lesen", "type": "main", "index": 0}]] },
    "Aktuelle CSV lesen": { "main": [[{"node": "Aktuelle CSV parsen", "type": "main", "index": 0}, {"node": "Vormonats-CSV lesen", "type": "main", "index": 0}]] },
    "Aktuelle CSV parsen": { "main": [[{"node": "CSVs zusammenfuehren", "type": "main", "index": 0}]] },
    "Vormonats-CSV lesen": { "main": [[{"node": "Vormonats-CSV parsen", "type": "main", "index": 0}]] },
    "Vormonats-CSV parsen": { "main": [[{"node": "CSVs zusammenfuehren", "type": "main", "index": 1}]] },
    "CSVs zusammenfuehren": { "main": [[{"node": "CSV Diff berechnen", "type": "main", "index": 0}]] },
    "CSV Diff berechnen": { "main": [[{"node": "Neue vorhanden?", "type": "main", "index": 0}, {"node": "Geaenderte vorhanden?", "type": "main", "index": 0}, {"node": "Deaktivierte vorhanden?", "type": "main", "index": 0}, {"node": "Zusammenfassung senden", "type": "main", "index": 0}]] },
    "Neue vorhanden?": { "main": [[{"node": "Neue aufteilen", "type": "main", "index": 0}], []] },
    "Neue aufteilen": { "main": [[{"node": "WP: Anlegen", "type": "main", "index": 0}]] },
    "Geaenderte vorhanden?": { "main": [[{"node": "Geaenderte aufteilen", "type": "main", "index": 0}], []] },
    "Geaenderte aufteilen": { "main": [[{"node": "WP: Aktualisieren", "type": "main", "index": 0}]] },
    "Deaktivierte vorhanden?": { "main": [[{"node": "Deaktivierte aufteilen", "type": "main", "index": 0}], []] },
    "Deaktivierte aufteilen": { "main": [[{"node": "WP: Deaktivieren", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{"name": "HR"}, {"name": "Mitarbeiter"}, {"name": "SAGE"}],
  "meta": { "instanceId": "gwt-intranet" }
}
